<div class="text-white flex flex-col items-center gap-4 p-5 bg-gray-800 rounded-lg shadow-lg w-full h-full">
    <!-- Input and Label Wrapper -->
    <div class="flex flex-col gap-2 w-full">

        <!-- Input Field -->
        <input type="number" placeholder="Task Number"  min="1" [(ngModel)]="listno"
            class="w-full p-3 text-gray-800 rounded-lg  font-2xl focus:outline-none focus:ring-2 focus:ring-cyan-500">

        <!-- Label -->
        <label class="text-lg font-semibold">Task Number:</label>

         <!-- Input Field -->
         <input type="text" placeholder="Update Task" [(ngModel)]="updateString"
         class="w-full p-3 text-gray-800 rounded-lg  font-2xl focus:outline-none focus:ring-2 focus:ring-cyan-500">

     <!-- Label -->
     <label class="text-lg font-semibold">Update Task</label>

    </div>

    <!-- Add Button -->
    <button (click)="updateTask()" class="bg-cyan-600 hover:bg-cyan-700 text-white font-bold py-2 px-4 rounded-lg w-full">
        Update
    </button>
</div>